:root {
  --Red: #f00000;
  --Cyan: #45d3d3;
  --Orange: #fcaf4a;
  --Blue: #549ef2;
  --VeryDarkBlue: #4c4e61;
  --GrayishBlue: #a3a5ae;
  --VeryLightGray: #fafafa;
}
// font-family: 'Poppins', sans-serif;
html,
body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  min-width: 375px;
}
header {
  color: var(--GrayishBlue);
  font-family: "Poppins", sans-serif;
  margin: 60px 20px 55px;
  text-align: center;
  font-size: 0.9em;
}
header h2 {
  font-weight: 200;
  margin: 0;
  font-size: 1.5em;
}
header h1 {
  color: var(--VeryDarkBlue);
  margin: 0;
  font-size: 1.5em;
}
.cards {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  place-items: center;
}

div.card span {
  font-family: "Poppins", sans-serif;
  color: var(--VeryDarkBlue);
  font-weight: 400;
  font-size: 24px;
}
.card p {
  color: var(--GrayishBlue);
  font-family: "Poppins", sans-serif;
  font-size: 0.85em;
}
div.card {
  border-radius: 10px;
  box-shadow: 4px 4px 14px #aaa;
  height: 180px;
  padding: 26px;
  width: 282px;
  margin-bottom: 26px;
  position: relative;
}
.card_supervisor {
  border-top: 7px solid var(--Cyan);
}
.card_teamBuilder {
  border-top: 7px solid var(--Red);
}
.card_karma {
  border-top: 7px solid var(--Orange);
}
.card_calculator {
  border-top: 7px solid var(--Blue);
}
svg {
  position: absolute;
  right: 50px;
  bottom: 26px;
}
@media screen and (min-width: 580px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
  }
}

@media screen and (min-width: 700px) {
  header {
    width: 500px;
    margin: 50px auto;
  }
  // .cards {
  //   display: flex;
  //   justify-content: center;
  //   place-items: center;
  // }
  .card_group {
    padding: 25px;
  }
}
